footer {
    background: var(--color-primary);
    padding: 2rem 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 5rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

.footer__copyright {
    margin: 2rem 0 4rem;
    color: var(--color-bg);
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
}